.specialities {
  padding: 50px 80px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.see-btn {
  padding: 8px 16px;
  border: 1px solid #ccc;
  background: white;
  border-radius: 6px;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.icon {
  width: 60px;
  height: 60px;
  background: #e9f8fc;
  border-radius: 50%;
  margin: 0 auto 10px;
}
